[submodule "native/lib/frozen"]
	path = native/lib/frozen
	url = https://github.com/cesanta/frozen
[submodule "chromium/lib/JavaScript-MD5"]
	path = chromium/lib/JavaScript-MD5
	url = https://github.com/blueimp/JavaScript-MD5
